
#edit-modal{
    top: 0;
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    transition: 1s ease-in-out;
}
#edit-modal form{
    background: #fff;
    width: 70%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px #000;
}

a{
    text-decoration: none;
    color: #313131;
}

.head-title{
    display: flex;
    justify-content: flex-start;
}
.section{
    text-align: start;
}
.text-center{
    text-align: center;
}
.users-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 auto;
}

#section .card{
    max-width: 400px!important;
    width: 100%!important;
    margin: 1.2rem;
}
.name{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.7rem!important;
}


@media screen and (max-width: 450px){
    #section{
    width: 300px;
    margin: 0;
    }
}
